*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
   height: 100vh;
   width: 100vw;
   overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* react toastify css */
.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}